twere-command-component {
  background-image: var(--elevation-01dp);
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 20ch minmax(20ch, 92ch);
  justify-content: center;
}

span.prompt {
  color: var(--caret-color);
  padding: 0.5rem 1rem 0 2rem;
  text-align: right;
}

span.prompt.out {
  animation: 0.1s ease-in 0s prompt_out;
}
span.prompt.in {
  animation: 0.1s ease-out 0s prompt_in;
}
@keyframes prompt_out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 2em);
  }
}
@keyframes prompt_in {
  0% {
    opacity: 0;
    transform: translate(0, -2em);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
textarea {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  resize: none;
  border: none;
  overflow-y: hidden;
  color: rgb(255, 255, 255);
  background: rgb(10, 10, 10);
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  width: 100%;
  border-left: 0.15em solid hsla(255, 100%, 100%, .025);
  padding: 0.5em 1em;
  caret-color: var(--caret-color);
  font-size: var(--base-font-size);
}
form::selection,
form > *::selection {
  background: var(--caret-color-mute);
  color: hsla(0, 0%, 0%, 1);
}

textarea::selection {
  background: var(--caret-color);
  color: hsla(0, 0%, 0%, 1)
}

form {
  padding: 0;
  position: relative;
}
