@import url('./../fonts/fira_code.css');

:root {
  --body-max-width:   1200px;
  --body-margin:      0.5rem auto;
  --body-padding:     0;

  --background:       hsl(0, 0%, 7%);
  --elevation-00dp:   linear-gradient(var(--background), var(--background));
  --elevation-01dp:   linear-gradient(hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0.05)), var(--elevation-00dp);
  --elevation-02dp:   linear-gradient(hsla(0, 0%, 100%, 0.07), hsla(0, 0%, 100%, 0.07)), var(--elevation-00dp);
  --elevation-03dp:   linear-gradient(hsla(0, 0%, 100%, 0.08), hsla(0, 0%, 100%, 0.08)), var(--elevation-00dp);
  --elevation-04dp:   linear-gradient(hsla(0, 0%, 100%, 0.09), hsla(0, 0%, 100%, 0.09)), var(--elevation-00dp);
  --elevation-06dp:   linear-gradient(hsla(0, 0%, 100%, 0.11), hsla(0, 0%, 100%, 0.11)), var(--elevation-00dp);
  --elevation-08dp:   linear-gradient(hsla(0, 0%, 100%, 0.12), hsla(0, 0%, 100%, 0.12)), var(--elevation-00dp);
  --elevation-12dp:   linear-gradient(hsla(0, 0%, 100%, 0.14), hsla(0, 0%, 100%, 0.14)), var(--elevation-00dp);
  --elevation-16dp:   linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)), var(--elevation-00dp);
  --elevation-24dp:   linear-gradient(hsla(0, 0%, 100%, 0.16), hsla(0, 0%, 100%, 0.16)), var(--elevation-00dp);

  --color-high:       hsla(0, 0%, 100%, 0.87);
  --color-default:    hsla(255, 0%, 100%, 0.6);
  --color-low:        hsla(255, 0%, 100%, 0.38);

  --caret-color:      hsl(205, 100%, 50%);
  --caret-color-mute: hsla(205, 100%, 50%, 0.5);
  --caret-color-faint: hsla(205, 100%, 50%, 0.25);

  --destructive-color: hsla(0, 100%, 50%, 0.544);

  --link-color:       rgba(0, 148, 255, 0.15);
  --code-background:  rgba(255, 255, 255, 0.02);
  --code-color:       rgba(255, 255, 255, 0.75);
  --code-box-shadow:  0 0 2px rgba(0, 0, 0, .1);
  --code-padding:     0.25em 1em 0.25em .6em;
  --code-margin:      -0.25em 0 .5em -.15em;
  --editable-padding: 8px 12px 8px 12px;
  --editable-margin:  -8px -12px -8px -15px;
  --base-font-size:   15px;

  --inline-border-radius: 0.15rem;
}

html {
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  margin: 0;
  background: var(--background);
  font-size: var(--base-font-size);
  line-height: 1.5;
  font-weight: 100;
  font-feature-settings: "calt" 1;
  font-family: "Fira Code";
  color: var(--color-default);
}

body {
  margin: 0;
  padding: var(--body-padding);
}

section {
  max-width: var(--body-max-width);
  margin: var(--body-margin);
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: var(--elevation-02dp);
  font-weight: 500;
  color: hsla(255, 100%, 100%, .75);
  padding: 0.25em 1em 0.25em 0.35em;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

h1,
span.brand {
  position: relative;
  font-weight: 500;
  color: hsl(255, 0%, 100%);
}

h1::before,
span.brand::before {
  content: '`';
  color: rgb(0, 148, 255);
  font-weight: 900;
  position: absolute;
  margin-right: -.25em;
  margin-top: -0.035em;
  right: 100%;
}

header {
  height: 100%;
  background-image: var(--elevation-01dp);
  text-align: center;
  padding: 3rem 0.25rem 5rem;
  margin: 0 auto 3rem;
}

header * {
  max-width: var(--body-max-width);
}

header p {
  max-width: 700px;
}

footer a {
  border: none;
}

h1 {
  display: inline-block;
  font-weight: 300;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 auto 3rem;
}

h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem auto;
  border-bottom: 1px solid var(--caret-color);
  padding: 0 0.25rem;
}

p {
  margin: 0 auto 0.5em;
}

p:last-child {
  margin-bottom: 0;
}

p + pre {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

dl {
  margin: 0;
  display: grid;
  grid-template-columns: 0fr auto;
}

twere-notecomponent,
twere-commandcomponent {
  display: contents;
}

twere-notecomponent.group dt {
  opacity: 0;
}

twere-notecomponent dt a {
  opacity: 0;
  vertical-align: middle;
  color: var(--destructive-color);
  font-size: 1.25rem;
  line-height: 1.5;
  display: inline-block;
  padding: 0 0.25rem;
}

twere-notecomponent dt:hover {
  color: var(--caret-color-mute);
}

twere-notecomponent.group:hover dt,
twere-notecomponent dt:hover a {
  opacity: 1;
}

twere-notecomponent:hover dd {
  border-left-color: var(--caret-color-mute);
}

dt {
  white-space: nowrap;
  margin: 0.25rem 0 0;
  padding: 0 1rem 0 2rem;
  text-align: right;
  font-size: 0.75rem;
  line-height: 3;
  text-transform: uppercase;
}

dt, dt a {
  color: var(--color-low);
}

dt a {
  border: none;
}

dd {
  border-left: 0.15em solid hsla(255, 100%, 100%, .025);
  margin: 0.25em 0;
  padding: 0.25em 1em;
  overflow-x: hidden;
}

dd.info {
  border-left: 0.15em solid rgba(158, 168, 16, 0.329);
}

dd.prompt {
  padding-bottom: 0;
  border-left-color: transparent;
}

pre {
  display: inline-block;
  white-space: pre;
  -moz-tab-size: 4;
  tab-size: 1;
  margin: 0.5rem 0 0 -1rem;
  padding: 0.25rem 1rem;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 0.15rem,
    hsla(255, 100%, 100%, .05) 0.15rem,
    hsla(255, 100%, 100%, .05) 0.3rem
  );
  background-color: hsla(0, 0%, 100%, 0.025);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  color: var(--color-low);
  font-family: "Fira Code";
  font-weight: 500;
}

pre:first-child {
  margin-top: -0.25rem;
}

pre:last-child {
  margin-bottom: -0.25rem;
}

code {
  box-decoration-break: clone;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.1rem,
    hsla(255, 100%, 100%, .05) 0.1rem,
    hsla(255, 100%, 100%, .05) 0.2rem
  );
  background-color: hsla(0, 0%, 100%, 0.025);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  border-radius: var(--inline-border-radius);
  border-image-slice: 1;
  line-height: 1.2em;
  color: var(--color-low);
  font-family: "Fira Code";
  font-weight: 500;
}

form {
  padding: 0;
  position: relative;
  margin: 0 0 3em -1.15em;
}

label {
  color: hsla(255, 100%, 100%, 0.1);
  padding: 0.5em 1em;
}

textarea {
  margin: 0;
  outline: none;
  resize: none;
  border: none;
  overflow-y: hidden;
  color: rgb(255, 255, 255);
  background-image: var(--elevation-01dp);
  font-family: "Fira Code";
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  width: 100%;
  border-left: 0.15em solid hsla(255, 100%, 100%, .025);
  padding: 0.5em 1em;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7);
  resize: none;
  caret-color: var(--caret-color);
  font-size: var(--base-font-size);
}

textarea:focus {
  border-color: var(--caret-color);
}

dd::selection,
dd > *::selection {
  background: var(--caret-color-mute);
  color: hsla(0, 0%, 0%, 1);
}

textarea::selection {
  background: var(--caret-color);
  color: hsla(0, 0%, 0%, 1)
}

a {
  color: var(--color-high);
  text-decoration: none;
  overflow-wrap: break-word;
}

dd a {
  color: hsl(146, 44%, 54%);
  font-weight: 400;
  box-decoration-break: clone;
  border-radius: var(--inline-border-radius);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  position: relative;
  box-decoration-break: clone;
  /* box-shadow: 0 -0.1rem hsla(147, 100%, 49%, 0.1) inset; */
}

dd a i {
  font-style: normal;
}

dd a .protocol {
  display: none;
}

dd a .host {
  font-weight: 100;
  color: hsla(147, 100%, 49%, 0.5);
}

dd a .delimiter,
dd a .split,
dd a .hash {
  display: inline-block;
  transform: scale(0.6);
  transform-origin: center 60%;
  color: hsla(146, 81%, 72%, 0.25);
}

dd a .split::before,
dd a .hash::before,
dd a .split::after,
dd a .hash::after {
  content: ' ';
  display: inline-block;
  width: 0.3rem;
}

dd a .search {
  color: hsla(146, 81%, 72%, 0.25);
}

dd a:hover {
  /* background: var(--elevation-01dp); */
  color: hsl(146, 44%, 54%);
}

cite {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

cite a {
  display: block;
  border-bottom: none;
  color: rgb(255, 255, 255, 0.3);
}
