@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');

:root {
  --main-bg-color:    hsl(222, 16%, 16%);
  --main-color:       rgb(255, 255, 255);
  --header-bg-color:  hsl(212, 8%, 22%);
  --caret-color:      rgb(0, 148, 255);
  --code-background:  rgba(255, 255, 255, 0.02);
  --code-color:       rgba(255, 255, 255, 0.75);
  --code-box-shadow:  0 0 2px rgba(0, 0, 0, .1);
  --code-padding:     0.25em 1em 0.25em 1em;
  --code-margin:      -0.25em 0 .25em -1.075em;
  --editable-padding: 8px 12px 8px 12px;
  --editable-margin:  -8px -12px -8px -15px;
  --base-font-size:   15px;
}

html {
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  margin: 0 0;
  background: var(--main-bg-color);
  font-size: var(--base-font-size);
  font-weight: 100;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-feature-settings: "calt" 1;
  font-family: "Fira Code";
}

section {
  margin: 0
}

header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 6px 0;
  background: var(--header-bg-color);
  font-family: 'Merriweather', serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsl(222, 16%, 12%);
  font-size: 75%;
  font-weight: 900;
  padding: 0.25em 0.5em;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  padding: 8px 16px;
}

p {
  margin: 0 0 0.5em;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}

header span {
  color: rgb(0, 148, 255);
}

dl {
  margin: 0;
  display: grid;
  grid-template-columns: 0fr auto;
}

dt {
  white-space: nowrap;
  padding: .5em 1em .5em 1em;
  margin: 0;
  text-align: right;
  /* font-weight: 600; */
}

dt, dt a {
  color: rgba(255, 255, 255, 0.25);
}

dt a {
  display: inline;
  border: none;
}

dt.prompt {
  color: var(--caret-color);
  padding-top: 1em;
  padding-bottom: 0;
  min-width: 6em; /* This is a temporary kludge */
}

dd {
  margin: 0;
  padding: .5em 1em;
}

dd.prompt {
  padding-bottom: 0;
}

pre {
  display: inline-block;
  white-space: pre;
  -moz-tab-size: 4;
  tab-size: 1;
  margin: var(--code-margin);
  padding: var(--code-padding);
  background: var(--code-background);
  border-left: 0.15em solid rgb(255, 255, 255, 0.1);
  box-shadow: var(--code-box-shadow);
  color: var(--code-color);
  font-family: "Fira Code";
}

code {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.2em;
  box-shadow: var(--code-box-shadow);
  background: var(--code-background);
  color: var(--code-color);
  font-family: "Fira Code";
}

textarea {
  outline: none;
  box-sizing: border-box; /* Ensures width can be set exactly */
  resize: none;
  border: none;
  overflow-y: hidden;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.025);
  font-family: "Fira Code";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  width: 100%;
  border-left: 0.15em solid var(--caret-color);
  padding: 0.5em 1em;
  margin: 0 0 3em -1.075em;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
  resize: none;
  caret-color: var(--caret-color);
  font-size: var(--base-font-size);
}

textarea::selected {
  background: var(--caret-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

cite {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

cite a {
  display: block;
  border-bottom: none;
  color: rgb(255, 255, 255, 0.3);
}
