@import url('./../fonts/fira_code.css');

:root {
  --background:       hsl(0, 0%, 7%);
  --elevation-00dp:   linear-gradient(var(--background), var(--background));
  --elevation-01dp:   linear-gradient(hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0.05)), var(--elevation-00dp);
  --elevation-02dp:   linear-gradient(hsla(0, 0%, 100%, 0.07), hsla(0, 0%, 100%, 0.07)), var(--elevation-00dp);
  --elevation-03dp:   linear-gradient(hsla(0, 0%, 100%, 0.08), hsla(0, 0%, 100%, 0.08)), var(--elevation-00dp);
  --elevation-04dp:   linear-gradient(hsla(0, 0%, 100%, 0.09), hsla(0, 0%, 100%, 0.09)), var(--elevation-00dp);
  --elevation-06dp:   linear-gradient(hsla(0, 0%, 100%, 0.11), hsla(0, 0%, 100%, 0.11)), var(--elevation-00dp);
  --elevation-08dp:   linear-gradient(hsla(0, 0%, 100%, 0.12), hsla(0, 0%, 100%, 0.12)), var(--elevation-00dp);
  --elevation-12dp:   linear-gradient(hsla(0, 0%, 100%, 0.14), hsla(0, 0%, 100%, 0.14)), var(--elevation-00dp);
  --elevation-16dp:   linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)), var(--elevation-00dp);
  --elevation-24dp:   linear-gradient(hsla(0, 0%, 100%, 0.16), hsla(0, 0%, 100%, 0.16)), var(--elevation-00dp);

  --color-high:       hsla(255, 0%, 100%, 0.87);
  --color-medium:     hsla(255, 0%, 100%, 0.6);
  --color-low:        hsla(255, 0%, 100%, 0.38);

  --header-bg-color:  hsl(212, 8%, 22%);
  --caret-color:      hsl(205, 100%, 50%);
  --caret-color-mute: hsla(205, 100%, 50%, 0.5);

  --link-color:       rgba(0, 148, 255, 0.15);
  --code-background:  rgba(255, 255, 255, 0.02);
  --code-color:       rgba(255, 255, 255, 0.75);
  --code-box-shadow:  0 0 2px rgba(0, 0, 0, .1);
  --code-padding:     0.25em 1em 0.25em .6em;
  --code-margin:      -0.25em 0 .5em -.15em;
  --editable-padding: 8px 12px 8px 12px;
  --editable-margin:  -8px -12px -8px -15px;
  --base-font-size:   15px;

  --inline-border-radius: 0.15rem;
}

html {
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  margin: 0 0;
  background: var(--background);
  font-size: var(--base-font-size);
  font-weight: 100;
  line-height: 1.5;
  color: var(--color-medium);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0.5em;
  font-feature-settings: "calt" 1;
  font-family: "Fira Code";
}

section {
  margin: 0
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: var(--elevation-02dp);
  font-weight: 500;
  color: hsla(255, 100%, 100%, .75);
  padding: 0.25em 1em 0.25em 0.35em;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

span.brand {
  position: relative;
  font-weight: 500;
  color: hsl(255, 0%, 100%);
}

span.brand.large {
  font-size: 2rem;
}

span.brand::before {
  content: '`';
  color: rgb(0, 148, 255);
  font-weight: 900;
  position: absolute;
  margin-right: -.25em;
  right: 100%;
}

footer a {
  border: none;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  padding: 8px 16px;
}

p {
  margin: 0 0 0.5em;
}

p:last-child {
  margin-bottom: 0;
}

p + pre {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

dl {
  margin: 0;
  display: grid;
  grid-template-columns: 0fr auto;
}

twere-notecomponent,
twere-commandcomponent {
  display: contents;
}

twere-notecomponent.group dt {
  opacity: 0;
}

twere-notecomponent.group dt a {
  color: var(--caret-color-mute);
}

twere-notecomponent.group:hover dt,
twere-notecomponent.group:hover dt a {
  opacity: 1;
}

twere-notecomponent:hover dd {
  border-left-color: var(--caret-color-mute);
  background-color: hsla(255, 100%, 100%, 0.01);
}

dt {
  white-space: nowrap;
  margin: 0.25rem 0;
  padding: .55rem 1rem .15rem 2rem;
  text-align: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}

dt, dt a {
  color: var(--color-low);
}

dt a {
  display: inline;
  border: none;
}

dd {
  border-left: 0.15em solid hsla(255, 100%, 100%, .025);
  margin: 0.25em 0;
  padding: 0.25em 1em;
}

dd.info {
  border-left: 0.15em solid rgba(158, 168, 16, 0.329);
}

dd.prompt {
  padding-bottom: 0;
  border-left-color: transparent;
}

pre {
  display: inline-block;
  white-space: pre;
  -moz-tab-size: 4;
  tab-size: 1;
  margin: 0.5rem 0 0.5rem -1rem;
  padding: 0.25rem 1rem;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 0.15rem,
    hsla(255, 100%, 100%, .05) 0.15rem,
    hsla(255, 100%, 100%, .05) 0.3rem
  );
  background-color: hsla(0, 0%, 100%, 0.05);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  color: var(--color-low);
  font-family: "Fira Code";
}

pre:first-child {
  margin-top: -0.25rem;
}

pre:last-child {
  margin-bottom: -0.25rem;
}

code {
  box-decoration-break: clone;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 0.15rem,
    hsla(255, 100%, 100%, .05) 0.15rem,
    hsla(255, 100%, 100%, .05) 0.3rem
  );
  background-color: hsla(0, 0%, 100%, 0.05);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  border-radius: var(--inline-border-radius);
  border-image-slice: 1;
  line-height: 1.2em;
  color: var(--color-low);
  font-family: "Fira Code";
}

textarea {
  outline: none;
  box-sizing: border-box; /* Ensures width can be set exactly */
  resize: none;
  border: none;
  overflow-y: hidden;
  color: rgb(255, 255, 255);
  background-image: var(--elevation-01dp);
  font-family: "Fira Code";
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale;  /* pixel antialiasing. This has no impact on mobile. */
  width: 100%;
  border-left: 0.15em solid hsla(255, 100%, 100%, .025);
  padding: 0.5em 1em;
  margin: 0 0 3em -1.15em;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7);
  resize: none;
  caret-color: var(--caret-color);
  font-size: var(--base-font-size);
}

textarea:focus {
  border-color: var(--caret-color);
}

dd *::selection {
  background: var(--caret-color-mute);
  color: hsla(0, 0%, 0%, 1);
}

textarea::selection {
  background: var(--caret-color);
  color: hsla(0, 0%, 0%, 1)
}

a {
  color: var(--color-high);
  text-decoration: none;
}

dd a {
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  position: relative;
  box-decoration-break: clone;
  background: var(--elevation-01dp);
  border-radius: var(--inline-border-radius);
}

dd a:hover {
  background: var(--elevation-02dp);
}

cite {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

cite a {
  display: block;
  border-bottom: none;
  color: rgb(255, 255, 255, 0.3);
}
