twere-note-component {
  display: contents;
}

twere-note-component.group time {
  opacity: 0;
}

twere-note-component time a {
  opacity: 0;
  vertical-align: middle;
  color: var(--destructive-color);
  font-size: 1.25rem;
  line-height: 1.5;
  display: inline-block;
  padding: 0 0.25rem;
}

twere-note-component time:hover {
  color: var(--caret-color-mute);
}

twere-note-component.group:hover time,
twere-note-component time:hover a {
  opacity: 1;
}

twere-note-component article {
  position: relative;
  transition: all 0.1s ease-in-out;
}

twere-note-component:hover article {
  border-left-color: var(--caret-color-mute);
  background-color: hsla(0, 0%, 0%, 0.25);
}
