html {
  -webkit-font-smoothing: antialiased; /* Currently using a dark theme, so enforce full */
  -moz-osx-font-smoothing: grayscale; /* pixel antialiasing. This has no impact on mobile. */
  margin: 0;
  background: var(--background);
  font-size: var(--base-font-size);
  line-height: 1.5;
  font-weight: 100;
  color: var(--color-default);
}

html,
pre,
code,
textarea {
  font-feature-settings: "calt";
  font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
  html,
  pre,
  code,
  textarea {
    font-family: "Fira Code VF", monospace;
  }
}

body {
  margin: 0;
  padding: var(--body-padding);
}

section {
  max-width: var(--body-max-width);
  margin: var(--body-margin);
}

h1,
span.brand {
  position: relative;
  font-weight: 500;
  color: hsl(255, 0%, 100%);
  z-index: 2;
  cursor: default;
}

h1::before,
span.brand::before {
  content: "`";
  color: rgb(0, 148, 255);
  font-weight: 900;
  position: absolute;
  margin-right: -0.38em;
  top: -0.075em;
  bottom: -0.075em;
  right: 100%;
  font-size: 18em;
  z-index: -100;
  line-height: 1;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out, transform 0.25s ease-in;
}

h1:hover::before,
span.brand:hover::before {
  opacity: 1;
  transform: rotate(2.5deg);
}

header {
  background-image: var(--elevation-01dp);
  text-align: center;
  padding: 0 0.25rem 5rem;
  margin: 0 auto 3rem;
}

header * {
  max-width: var(--body-max-width);
}

header p {
  max-width: 700px;
}

footer a {
  border: none;
}

h1 {
  display: inline-block;
  font-size: 4rem;
  margin: 1rem 0 1rem;
  padding: 0;
}

h2 {
  position: relative;
  z-index: 100;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto 3rem;
}

h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem auto;
  border-bottom: 1px solid var(--caret-color);
  padding: 0 0.25rem;
}

p {
  margin: 0 auto 0.5em;
}

p:last-child {
  margin-bottom: 0;
}

p + pre {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

dl {
  margin: 0;
  display: grid;
  grid-template-columns: 0fr auto;
}

dt {
  white-space: nowrap;
  margin: 0.25rem 0 0;
  padding: 0 1rem 0 2rem;
  text-align: right;
  font-size: 0.75rem;
  line-height: 3;
  text-transform: uppercase;
}

dt,
dt a {
  color: var(--color-low);
}

dt a {
  border: none;
}

dd {
  border-left: 0.15em solid hsla(255, 100%, 100%, 0.025);
  margin: 0.25em 0;
  padding: 0.25em 1em;
  overflow-x: hidden;
}

dd.info {
  border-left: 0.15em solid rgba(158, 168, 16, 0.329);
}

dd.prompt {
  padding-bottom: 0;
  border-left-color: transparent;
}

pre {
  display: inline-block;
  white-space: pre;
  tab-size: 4;
  margin: 0.5rem 0 0 -1rem;
  padding: 0.25rem 1rem;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 0.15rem,
    hsla(255, 100%, 100%, 0.05) 0.15rem,
    hsla(255, 100%, 100%, 0.05) 0.3rem
  );
  background-color: hsla(0, 0%, 100%, 0.025);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  color: var(--color-low);
  font-weight: 500;
}

pre:first-child {
  margin-top: -0.25rem;
}

pre:last-child {
  margin-bottom: -0.25rem;
}

code {
  box-decoration-break: clone;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.1rem,
    hsla(255, 100%, 100%, 0.05) 0.1rem,
    hsla(255, 100%, 100%, 0.05) 0.2rem
  );
  background-color: hsla(0, 0%, 100%, 0.025);
  background-repeat: repeat-x;
  background-position-y: top;
  background-size: 100% 0.1rem;
  border-radius: var(--inline-border-radius);
  border-image-slice: 1;
  line-height: 1.2em;
  color: var(--color-low);
  font-weight: 500;
}

form {
  padding: 0;
  position: relative;
  margin: 0 0 3em -1.15em;
}

label {
  color: hsla(255, 100%, 100%, 0.5);
  padding: 0.5em 1em;
}

textarea:focus {
  border-color: var(--caret-color);
}

dd::selection,
dd > *::selection {
  background: var(--caret-color-mute);
  color: hsla(0, 0%, 0%, 1);
}

textarea::selection {
  background: var(--caret-color);
  color: hsla(0, 0%, 0%, 1);
}

a {
  color: var(--color-high);
  text-decoration: none;
  overflow-wrap: break-word;
}

dd a {
  color: hsl(146, 44%, 54%);
  font-weight: 400;
  border-radius: var(--inline-border-radius);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  position: relative;
  box-decoration-break: clone;
}

dd a i {
  font-style: normal;
}

dd a .protocol {
  display: none;
}

dd a .host {
  font-weight: 100;
  color: hsla(147, 100%, 49%, 0.5);
}

dd a .delimiter,
dd a .split,
dd a .hash {
  display: inline-block;
  transform: scale(0.6);
  transform-origin: center 60%;
  color: hsla(146, 81%, 72%, 0.25);
}

dd a .split::before,
dd a .hash::before,
dd a .split::after,
dd a .hash::after {
  content: " ";
  display: inline-block;
  width: 0.3rem;
}

dd a .search {
  color: hsla(146, 81%, 72%, 0.25);
}

dd a:hover {
  color: hsl(146, 44%, 54%);
}

cite {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

cite a {
  display: block;
  border-bottom: none;
  color: rgb(255, 255, 255, 0.3);
}
